__pycache__/
.venv/
*.py[cod]
.directory
.DS_Store
.~lock.*#
.privacidad.local
/perfil-aprendiz.local.json
/talleres/*/03_entrega/*_COMPLETO.local.*
/talleres/*/03_entrega/INFORME_COMPLETO.local.md
/talleres/*/04_entrega_personalizada.local/
/talleres/*/02_solucion/codigo/*.local.json*
